<div class="mainboard flex col r-8" style="overflow-x: hidden;">
   <div class="card">
      <div style="
      background-color: rgba(165, 3, 3, 0.219);
      padding: 1rem 3rem;
      margin: 1.5rem;
      height: fit-content;
      border-left: 4px solid rgb(165, 3, 3);
   ">
      <h3 style="
         color: rgb(165, 3, 3); 
         font-weight: 600;
         font-size: 1.5rem;
      ">
         Transfer Blocked
      </h3>
      <p style="
      color: rgb(165, 27, 3); 
      font-weight: 400;
      align-self: center;
      font-size: 1rem;
   ">Your account has been temporarily blocked, due to unusual sing in location.\n Please refer to instructions sent to your email.</p>
   </div>
   <%- include('./transfer_page')%>
<%- include('../invariables/footer')%>
</div>