<div class="mainboard flex col r-8" style="margin-top: .8rem; overflow-x: hidden;">
   <div class="card card-bordered">
       <div class="card-inner card-inner-lg flex col">
            <h4 class="nk-block-title" style = "color: var(--my-teal-dark); margin: 1.5rem auto;">International Monetary Fund</h4>
            <p class="" style = " margin: 1.5rem auto;width: 70%; color: gray;">The International monetary system is meticulously monitored by the International monetary Fund Organisation. It also monitors global and economic developments and is tasked with employing the best technologies and resources to improve the financial and economic standards throughout the world at large. Risks are as much as possible managed in this regard.</p>
            <p style="color: teal; width: 70%; margin:  1rem auto;"> Validate your IMF clerance code to complete your transfer</p>
            <form id="signup" method="post" action="/ajax/imf_verify" style="margin: 0 auto;">
            <div class="response" style="display:none">
            </div>
           <div class="form-group flex col">
               <div class="form-label-group">
                   <label class="form-label" for="person" style = "color: var(--my-teal-dark);">IMF code<span>*</span></label>
               </div>
               <input id="middle_name" type="text" autofocus="" class="form-control form-control-lg" name="imf" placeholder="e.g 15243" required>
           </div>
           
           <button 
               style="
                   background-color: var(--my-teal);
                   color: white;
                   display: block;
                   width: 100%;display: inline-block;
                   padding: 10px;
                   border-radius: 5px;
                   margin-bottom: 0;
                   font-size: 14px;
                   font-weight: 400;
                   line-height: 1.42857143;
                   text-align: center;
                   white-space: nowrap;
                   vertical-align: middle;
                   -ms-touch-action: manipulation;
                   touch-action: manipulation;
                   cursor: pointer;
                   -webkit-user-select: none;
                   -moz-user-select: none;
                   -ms-user-select: none;
                   user-select: none;
                   background-image: none;
                   border: 1px solid transparent;
                   -webkit-box-shadow: none;
                   -moz-box-shadow: none;
                   box-shadow: none;
                   border-width: 1px;" 
               type="submit" id="processor">Verify IMF Transfer</button>
           </form>        
           <div style="margin: 2rem;">
            <div style="width: 70%; margin: auto; background-color: rgba(128, 128, 128, 0.185); border-radius: 1000px;">
                <div style="
                width: 50%;
                height: .7rem;
                border-radius: 1000px;
                background-color: blue;
                
                "></div>
            </div>
            <div style="margin: 1rem auto; text-align: center; color: blue; font-size: 1rem;">50% Completed</div>
           </div> 
       </div>

       <div id="processed" class="processing flex col justify-center" style="">
        <div><h1  style="margin: 2rem auto 0; text-align: center; color: teal; font-sizec: 1rem; font-weight: 200;">Reviewing Passcode</h1></div>
        <div><p  style="text-align: center; color: teal; font-sizec: .5rem; font-weight: 200;">please wait while we review your IMF number</p></div>
        <img src="/assets/CSB/loading-two.gif" alt="processing" style="margin: auto; height: 40%; width: 100%; border-radius: 50%;">
       </div>

       <script>
        let processor = document.getElementById('processor'),
        processed = document.getElementById('processed')

        processor.addEventListener('click', ()=>{
            console.log('we are changing')
            processed.style.display = 'flex'
        })
       </script>
   </div>
   <%- include('../invariables/footer')%>
</div>