<marquee behavior="wrap" direction="left" style="font-weight: 700; display: flex;">
   <p style="font-weight: 700 ;color: blue; margin: auto 0;">
      GBP/USD = <span style="font-weight: 700 ;color: red;">1.71544 &#x25BC;</span>&emsp;	
      GBP/CAD = <span style="font-weight: 700 ;color: green;">1.70364 &#x25B2;</span>	&emsp;
      GBP/AUD = <span style="font-weight: 700 ;color: green;">1.56114</span>  	&emsp;
      GBP/CHF = <span style="font-weight: 700 ;color: green;">1.70364 &#x25B2;</span>	&emsp;
      GBP/JPY = <span style="font-weight: 700 ;color: red;">1.65014 &#x25BC;</span>	&emsp;
      GDP/CAD = <span style="font-weight: 700 ;color: green;">1.70364 &#x25B2;</span>&emsp;	
      GDP/AFN = <span style="font-weight: 700 ;color: green;">1.56114 &#x25B2;</span>
   </p> 
</marquee>