<div class="greeting flex row justify-between" style = "">
   <div class="greet-user flex col" style="margin: 1rem 0 0 2rem;">
      <h1 class="teal">
         <i class="fa-sharp fa-solid fa-user" style=" color: rgba(0, 128, 128, 0.37);"></i>
         <%= full_name%> 
      </h1>
      <p class="sp teal">@<%= user%></p>
      <h3 class="teal"><%= account%></h3>
   </div>
   <div class="settings">
      <a href="/login.html">
         <i class="fa-solid fa-arrow-right-from-bracket icn" style="margin: 0 .2rem; font-weight: 600;"></i>
         Log out
      </a>
   </div>
</div>