<div class="greeting flex row justify-between" style = "">
   <div class="greet-user flex col" style="margin: 0 1rem;">
      <div class="flex row ">
         <img src="/profile/<%= profile %>" style="margin : auto .5rem ; height:2rem; width: 2rem; border-radius: 50%; color: rgba(0, 128, 128, 0.37);">
         <div class="flex justify-center">
            <h1 class="teal flex " style="text-transform: capitalize;">
               <%= full_name%> 
            </h1>
         </div>
 
      </div>

      <p class="sp teal">@<%= user%></p>
      <h3 class="teal"><%= account%></h3>
   </div>
   <div class="settings">
      <a href="/Login.html">
         <i class="fa-solid fa-arrow-right-from-bracket icn" style="margin: 0 .2rem; font-weight: 600;"></i>
         Log out
      </a>
   </div>
</div>