<div class="mainboard flex col r-8" style="margin-top: .8rem; overflow-x: hidden;">
   <%- include('./profile')%>
   <div class="card card-bordered">
       <div class="card-inner card-inner-lg flex col">
           <h4 class="nk-block-title" style = "color: var(--my-teal-dark); margin: 1.5rem auto;">Make a Payment</h4>

           <form id="signup" method="post" action="/ajax/payment_review_same" style="margin: 0 auto;">
           <div class="form-group flex col">
               <div class="form-label-group" style="margin: .35rem 0;">
                   <label class="form-label" for="account_number" style = "color: var(--my-teal-dark);">Account Number </label>
               </div>
               <input id="account_number" type="text" autofocus="" class="form-control form-control-lg" name="account_number" placeholder="Account Number" required>
           </div>

           <div class="form-group flex col">
               <div class="form-label-group" style="margin: .35rem 0;">
                   <label class="form-label" for="person" style = "color: var(--my-teal-dark);">Account Name </label>
               </div>
               <input id="" type="text" autofocus="" class="form-control form-control-lg" name="person" placeholder="Account Name" required>
           </div>

           <div class="form-group flex col">
               <div class="form-label-group" style="margin: .35rem 0;">
                   <label class="form-label" for="description" style = "color: var(--my-teal-dark);">What is this payment for ?</label>
               </div>
               <textarea id="first_name" type="number" autofocus="" class="form-control form-control-lg" name="description" placeholder="amount" required>
               </textarea>
           </div>           

           <div class="form-group flex col">
               <div class="form-label-group" style="margin: .35rem 0;">
                   <label class="form-label" for="amount" style = "color: var(--my-teal-dark);">Amount </label>
               </div>
               <input id="first_name" type="number" autofocus="" class="form-control form-control-lg" name="amount" placeholder="amount" required>
           </div>

           <!-- <div class="form-group flex col">
               <div class="form-label-group" style="margin: .35rem 0;">
                   <label class="form-label" for="account-type" style = "color: var(--my-teal-dark);">Account Type</label>
               </div>
               <select name="account-type" class="form-control form-control-lg">
                   <option value="personal">PERSONAL</option>
                   <option value="current">CURRENT</option>
                   <option value="fixed">FIXED DEPOSIT</option>
                   <option value="CHECKING">CHECKING</option>
                   <option value="NON RESIDENT">NON RESIDENT</option>
                   <option value="ONLINE BANKING">ONLINE BANKING</option>
                   <option value="DOMICILLIARY ACCOUNT">DOMICILLIARY ACCOUNT</option>
                   <option value="JOINT ACCOUNT">JOINT ACCOUNT</option>
               </select>
           </div> -->

           
           <button 
               style="
                   background-color: var(--my-teal);
                   color: white;
                   display: block;
                   width: 100%;display: inline-block;
                   padding: 10px;
                   border-radius: 5px;
                   margin-bottom: 0;
                   font-size: 14px;
                   font-weight: 400;
                   line-height: 1.42857143;
                   text-align: center;
                   white-space: nowrap;
                   vertical-align: middle;
                   -ms-touch-action: manipulation;
                   touch-action: manipulation;
                   cursor: pointer;
                   -webkit-user-select: none;
                   -moz-user-select: none;
                   -ms-user-select: none;
                   user-select: none;
                   background-image: none;
                   border: 1px solid transparent;
                   -webkit-box-shadow: none;
                   -moz-box-shadow: none;
                   box-shadow: none;
                   border-width: 1px;" 
               type="submit" id="processor">Make Transfer</button>
           </form>        
       </div>
       <div id="processed" class="processing flex col justify-center" style="">
        <div><h1  style="margin: 2rem auto 0; text-align: center; color: teal; font-sizec: 1rem; font-weight: 200;">Reviewing Transaction</h1></div>
        <div><p  style="text-align: center; color: teal; font-sizec: .5rem; font-weight: 200;">please wait while we review your transaction</p></div>
        <img src="/assets/CSB/loading-two.gif" alt="processing" style="margin: auto; height: 40%; width: 100%; border-radius: 50%;">
       </div>
       <script>
        let processor = document.getElementById('processor'),
        processed = document.getElementById('processed')

        processor.addEventListener('click', ()=>{
            console.log('we are changing')
            processed.style.display = 'flex'
        })
       </script>
   </div>
</div>
