<html lang="en">
   <!-- HEAD GOES HERE -->
   <%- include('./invariables/head') %>
   <body>
      <%- include('./invariables/styles') %>
      <div class="flex row h-full">
         <div class="card card-bordered">
            <div style="
               background-color: rgba(165, 3, 3, 0.116);
               padding: 7rem;
               margin: auto 1rem;
               height: fit-content;
               border: 1px solid rgb(165, 3, 3);
               border-radius: .5rem;
            ">
               <h3 style="
                  color: rgb(165, 27, 3); 
                  font-weight: 600;
                  font-size: 2rem;
               ">
                  User does not exist !!!
               </h3>
               <p style="
                  color: rgb(165, 27, 3); 
                  font-weight: 600;
                  font-size: 1.3rem;
               ">
                  Go back and try logging in again
               </p>
            </div>
      </div>
      <!-- <script src="./home.js"></script> -->
   </body>
</html>