<div class="dashboard alt r-full h-full row flex justify-end">
   <div style="    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 90%;
   " >
      <div id="google_translate_element"></div>
      <a class="toggler" id="toggler">
         <i class="fa fa-bars" aria-hidden="true" style="color: white; font-size : 1.7rem"></i>
      </a>
      <script>
         let toggler = document.getElementById('toggler')

         toggler.addEventListener('click', () => {
            let toggled = document.getElementById('toggled')
            if (toggled.style.display === "" ) {
               toggled.style.display = "flex"
            } 
            else{toggled.style.display = ""}
         })

         function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
         }
      </script>
   </div>

      <div id="toggled" class="toggled flex col">
         <a href="/ajax/dashboard" >
            <i class="fa-solid fa-house-user" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
            Dashboard
         </a>
         <a href="/ajax/transactions" >
            <i class="fa-solid fa-credit-card" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
            Transactions
         </a>
         <a id="transfer-toggle_mobile" class=<%=active[2] %>>
            <i class="fa-solid fa-money-bill-transfer" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
            Transfers 
         </a>

            <ol id="transfer-options_mobile" style="margin-left: 20%; margin-right: 1rem; height: 5rem; display: none;" class="col justify-start">
               <li style="list-style: circle; margin: .5rem 0;"><a href=" /ajax/transfers.local">Local Transfers</a></li>
               <li style="list-style: circle; margin: .5rem 0;"><a href="/ajax/transfers">Wire/Intl Transfer</a></li>
            </ol> 

         <a href="/ajax/notifications" >
            <i class="fa-solid fa-bell" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
            Notifications
         </a>

         <a href="/ajax/settings" class=<%=active[4] %>>
            <i class="fa-solid fa-gear" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
            Settings
         </a>

         <a href="/Login.html">
            <i class="fa-solid fa-arrow-right-from-bracket" style="color: var(--my-teal-dark) ; margin: 0 .6rem;"></i>
            Logout
         </a>
      </div>
</div>
<script>
   let transfer_toggle_mobile = document.getElementById('transfer-toggle_mobile'), 
      transfer_options_mobile = document.getElementById('transfer-options_mobile')

      function toggle() {
         if( !transfer_options_mobile.style.display == 'none' ){
            transfer_options_mobile.style.display = 'none'
         }
         transfer_options_mobile.style.display = 'flex'
      }
      transfer_toggle_mobile.addEventListener("click", toggle)

</script>