<center style="padding: 1rem 0 ">
   <div class="footer-copyright text-center py-3">
       © 
       <script type="text/javascript">
           var d = new Date()
           document.write(d.getFullYear())
       </script>
       Copyright:
       <a href=""> Global X Credit, Member FDIC.</a>
   </div> 	
</center>