<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title id="title">welcome <%= user %></title>
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js">
      </script>
      <script src="https://kit.fontawesome.com/16810e6ebd.js" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="../../public/Login_files/dashlite.css">
</head>